{% extends 'base.html' %}
{% load static %}

{% block title %}Menu Items | List{% endblock title %}

{% block header %}
    <link rel="stylesheet" href={% static 'restaurant/style.css' %}>
{% endblock header %}

{% block content %}
    <h1>Menu Items</h1>
    <a href={% url 'menuitem_create' %}>Add Menu Item</a>
    <a href={% url 'reciperequirement_create' %}>Add Recipe Requirement</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Ingredients</th>
            <th>Actions</th>
        </tr>
        {% for menu_item in object_list %}
        <tr>
            <td>{{ menu_item.name }}</td>
            <td>{{ menu_item.price }}</td>
            <td>
                <ul>
                {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                <li>
                    {{ recipe_requirement.ingredient.name }} -
                     {{ recipe_requirement.quantity }} 
                     {{ recipe_requirement.ingredient.unit }}
                     <a href={% url 'reciperequirement_delete' recipe_requirement.id %}>❌</a>
                </li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <a href={% url 'menuitem_update' menu_item.id %}>Edit</a>
                <a href={% url 'menuitem_delete' menu_item.id %}>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
